<%- include('header') %>


<p>你吗了个JJ</p>
<% if(!user) { %>
	<a href="/signin">登录</a>
<% } %>
<a href="/signout">登出</a>
<a href="/signup">注册</a>
<script src="js/caonima.js"></script>


<%- include('footer') %>