<%- include('header') %>


<p>你吗了个BB</p>
<form method="post">
	<input placeholder="密码" type="password" name="password">
	<input type="text" name="name" />
	<button>das</button>
</form>

<script src="js/caonima.js"></script>


<%- include('footer') %>